# URI da sua database do MongoDB Atlas
MONGO_URI=mongodb+srv://user:password@cluster0.mongodb.net/database_name?retryWrites=true&w=majority

# URL da API que será usada pelo Front-end em desenvolvimento
VITE_API_URL=http://localhost:<port>/

# URLs que serão permitidas a consumir a API
ALLOWED_ORIGINS=http://localhost:<port>/,http://localhost:<port>/