.btn {
  color: var(--cl-texto);
  border: 1px solid #c0c0c07e;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  font-size: 1.9rem;
  transition: background-color 0.3s ease, transform 0.3 ease;
}

.btn:active {
  transform: scale(0.97);
}

.calc {
  background-color: var(--bg-calc);
}

.calc:hover {
  background-color: var(--hover-calc);
}

.symb {
  background-color: var(--bg-simb);
}

.symb:hover {
  background-color: var(--hover-simb);
}

.aux {
  background-color: var(--bg-aux);
}

.aux:hover {
  background-color: var(--hover-aux);
}
